<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to JT Laptops</title>
</head>
<body>
    <h2>How to use our website</h2>
    <h4>Users</h4>
    <ul>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
    </ul>
    <h4>Products</h4>
    <ul>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
        <li><span>GET: </span></li>
    </ul>
</body>
</html>